<!doctype html>
<html>
    <head>
        <title>Fantasy FRC</title>
    </head>
    <body>
        <header><img src="/img/logo.png" alt="FantasyFRC Logo"></header>
        {{{body}}}
    </body>
</html>