
<div class="container">
<h1 align="center">Contact Us</h1>

<h3>Feature request?</h3>
    <p>If you would like to request a feature, or offer to help with this project in the future, please contact Stephanie@FRCGameSense.com.</p>
<h3>Technical Difficulties?</h3>
    <p>If you have a specific question about the FantasyFRC site, or are having problems with a feature, please submit a
    bug report via the <a href="/submitBugReport">Bug Report</a> page, and we will address your concern as soon as possible.</p>
<h3>Contact GameSense</h3>
    <p>You can reach GameSense at GameSense@FRCGameSense.com.</p>
<h3>TheBlueAlliance</h3>
    <p>If you are having trouble with data not updating, first check TheBlueAlliance, to see if their data has updated.</p>
</div>