<body>
    <div class="container">
    <h1><span class="title">Report a Bug</span></h1>
    <form method="post" action="./">
        <p>We apologize for the inconvenience. Please describe the issue
        you are facing, or the feature you are requesting. We will contact
        you as soon as possible regarding your bug, request, or feedback if
        you include your email address in your report.Thanks for trying FantasyFRC!</p>
        <fieldset>
            <label for="issue-description">Describe your problem below:</label>
            <textarea id="issue-description" name="issue-description"></textarea>
        </fieldset>
        <fieldset>
            <label for="feature-request">Describe your requested feature below:</label>
            <textarea id="feature-request" name="feature-request"></textarea>
        </fieldset>
        <fieldset>
            <label for="feedback">Please include any additional comments or feedback you have below:</label>
            <textarea id="feedback" name="feedback"></textarea>
        </fieldset>
        <fieldset>
            <label for="email">Your email address:</label>
            <input type="email" id="email" name="email">
            <p class="helper">Please provide your email address if you would like
            a response regarding your bug, feature request, or feedback. (Not required)</p>
        </fieldset>
    </form>
    </div>
</body>